body{
    


color: rgb(20, 209, 216);
text-align: center;
font-family:Bookman old style;
font-size: 30px;
margin: 0;
padding: 0;

}

#cabecera{

background-color: rgba(46, 241, 7, 0.623);
box-shadow: 0px 2px 50px 0px rgba(0, 0,0, 1);
color: #f00b0b;
font-weight: bold;
margin: 10%;
padding: 0.5 em;

}

#tagline{
    font-weight: normal;
    font-size: 0.8em;
}




#container {

width: 70%;
padding: 1em;
text-align: left;
border: 5px solid #ee680e;  
margin: 0 auto;

}

#post h1{
font-size: 20px;

}